_builds
CMakeFiles
*.swp
*.s
*.o
a.out
*.sln
*.swp
*.swo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*/Release
*/lab5
*/lab4
*/lab3
*/lab2
*/lab1
*/Debug
*/.vs
!gnuplot_i.o
tags
gpu_result.pgm
cpu_result.pgm
